<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div>
       {% if messages %}
           <ul>
               {% for message in messages %}
                   <li>{{ message }}</li>
               {% endfor %}
           </ul>
       {% endif %}

       <form method="post">
           {% csrf_token %}
           <div>
               <label for="nome">Nome:</label>
               <input type="text" name="nome" id="nome" required>
           </div>
           
           <div>
               <label for="idade">Idade:</label>
               <input type="number" name="idade" id="idade" min="0" max="150" required>
           </div>
           
           <div>
               <label for="email">Email:</label>
               <input type="email" name="email" id="email" required>
           </div>

           <button type="submit">Enviar</button>
       </form>

        <hr>
        <h3>Usuários cadastrados</h3>
        {% if usuarios %}
            <ul>
                {% for u in usuarios %}
                    <li>{{ u.nome }} - {{u.idade}} anos — {{ u.email }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Nenhum usuário cadastrado.</p>
        {% endif %}
   </div>
</body>
</html>